#header
{
  background-color:lightblue;
  height:75px;
  font-family:cursive;
}

h1
{
  margin-bottom:0;
  margin-top:0;
  text-align:center;
  color:cornsilk;
  font-size:60px;
}

#menu
{
  background-color:lightblue;
  height:500px;
  width:200px;
  float:left;
  font-size:20px;
  color:cornsilk;
  font-family:cursive
}

#content
{
  background-color:whitesmoke;
  height:500px;
  float:center;
  color:darkblue;
  font-size:20px;
  font-family:bimini;
}

#footer
{
  background-color:lightblue;
  clear:both;
  text-align:center;
  color:cornsilk;
  font-family:cursive;
}

.menuButtons:link, .menuButtons:visited
{
  display:block;
  color:cornsilk;
  width:195px;
  height:26px;
  padding:0px;
  margin:5px;
  text-decoration:none;
}

.menuButtons:hover, .menuButtons:active
{
  background-color:black;
}

body
{ 
  margin:0;
}